swagger: '2.0'
info:
  description: Manage the user
  title: Glimpse Service User
  version: 0.0.1-beta
host: user.glimpse.online
basePath: /
consumes:
- application/json
produces:
- application/json
schemes:
- http
paths:

  "/healthz":
    get:
      description: Check the health of the service
      operationId: Healthz
      responses:
        200:
          description: Service is healthy
          schema:
            $ref: "#/definitions/SuccessResponse"

  "/user":
    post:
      description: Create a new user
      operationId: UserCreate
      parameters:
      - in: body
        name: user
        description: User Information
        required: true
        schema:
          $ref: "#/definitions/UserParameters"
      responses:
        200:
          description: User created
          schema:
            $ref: "#/definitions/UserParameters"
        400:
          description: Bad Request
      security:
        - firebase: []
        - api_key: []

  "/user/{userId}":
    get:
      description: Get the information of a selected user
      operationId: UserInfo
      parameters:
      - name: userId
        in: path
        description: User Id
        type: string
        required: true
      - name: user
        in: body
        description: User information
        required: true
        schema:
          $ref: "#/definitions/UserParameters"
      responses:
        200:
          description: Return the user information
          schema:
            $ref: "#/definitions/UserParameters"
        404:
          description: User not found

    put:
      description: Update the user information
      operationId: UserInfoUpdate
      parameters:
      - name: userId
        in: path
        description: User Id
        type: string
        required: true
      responses:
        200:
          description: Return the user information
          schema:
            $ref: "#/definitions/UserParameters"
        404:
          description: User not found

definitions:
  SuccessResponse:
    type: object
    properties:
      status:
        type: boolean
  UserParameters:
    type: object
    properties:
      username:
        type: string
      email:
        type: string
      phone:
        type: string

securityDefinitions:
  api_key:
    type: apiKey
    name: key
    in: query

  firebase:
    authorizationUrl: ""
    flow: implicit
    type: oauth2
    x-google-issuer: "https://securetoken.google.com/glimpse-123456"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"