swagger: '2.0'
info:
  description: Manage the user
  title: Glimpse Service User
  version: 0.0.1-beta
host: user.glimpse.online
basePath: /
consumes:
- application/json
produces:
- application/json
schemes:
- http
paths:

  "/healthz":
    get:
      description: Check the health of the service
      operationId: Healthz
      responses:
        200:
          description: Service is healthy
          schema:
            $ref: "#/definitions/SuccessResponse"

  "/me":
    get:
      description: Get User Info
      operationId: Me
      responses:
        200:
          description: Return the user info
          schema:
            $ref: "#/definitions/UserResponse"

  "/user":
    post:
      description: Create a new user
      operationId: UserCreate
      parameters:
      - in: body
        name: user
        description: User Information
        required: true
        schema:
          $ref: "#/definitions/UserParameters"
      responses:
        200:
          description: User created
          schema:
            $ref: "#/definitions/UserResponse"
        400:
          description: Bad Request

    put:
      description: Update the user information
      operationId: UserInfoUpdate
      parameters:
      - name: user
        in: body
        description: User information
        required: true
        schema:
          $ref: "#/definitions/UserUpdateParameters"
      responses:
        200:
          description: Return the user information
          schema:
            $ref: "#/definitions/UserResponse"
        404:
          description: User not found


  "/user/{user_id}":
    get:
      description: Get the information of a selected user
      operationId: UserInfo
      parameters:
      - in: path
        name: user_id
        description: User Information
        required: true
        type: string

      responses:
        200:
          description: Return the user information
          schema:
            $ref: "#/definitions/UserResponse"
        404:
          description: User not found

definitions:
  SuccessResponse:
    type: object
    properties:
      status:
        type: boolean

  UserResponse:
    type: object
    properties:
      user_id:
        type: string
      username:
        type: string
      email:
        type: string

  UserParameters:
    type: object
    properties:
      username:
        type: string
      email:
        type: string

  UserUpdateParameters:
    properties:
      email:
        type: string

security:
  - firebase: []

securityDefinitions:
  api_key:
    type: apiKey
    name: key
    in: query

  firebase:
    authorizationUrl: ""
    flow: implicit
    type: oauth2
    x-google-issuer: "https://securetoken.google.com/glimpse-123456"
    x-google-jwks_uri: "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com"
    x-google-audiences: "glimpse-123456"