{
  "swagger": "2.0",
  "info": {
    "description": "Manage the user",
    "title": "Glimpse Service User",
    "version": "1.0.0"
  },
  "host": "glimpse-service-user.endpoints.glimpse-123456.cloud.goog",
  "x-google-endpoints": [
    {
      "name": "glimpse-service-user.endpoints.glimpse-123456.cloud.goog",
      "target": "35.196.198.237"
    }
  ],
  "basePath": "/",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/healthz": {
      "get": {
        "description": "Check the health of the service",
        "operationId": "healthz",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Service is healthy",
            "schema": {
              "properties": {
                "status": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/user/{user_id}": {
      "get": {
        "description": "test health with security enabled",
        "operationId": "healthz-security",
        "parameters": [
          {
            "name": "user_id",
            "in": "path",
            "description": "ID of the user",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Return the value sent in input",
            "schema": {
              "properties": {
                "status": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "firebase": {
      "authorizationUrl": "",
      "flow": "implicit",
      "type": "oauth2",
      "x-google-issuer": "https://securetoken.google.com/glimpse-123456",
      "x-google-jwks_uri": "https://www.googleapis.com/service_accounts/v1/metadata/x509/securetoken@system.gserviceaccount.com",
      "x-google-audiences": ""
    }
  }
}